---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header></header>
    <slot />
    <footer></footer>
  </body>
</html>

<style is:global>
  body {
    background-image: url("/bg.jpg");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    color: #e5e7eb;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  p {
    font-size: 0.75rem;
    margin: 0;
  }
  span {
    font-size: 0.625rem;
  }
</style>
